* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navar Section  */

nav {
  height: 58px;
  box-shadow: 0px 3px 6px #3f49c026;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navElement {
  display: flex;
  justify-content: space-between;

  width: 40%;
}

.navElement p {
  font: normal normal 600 15px/20px Segoe UI;
  letter-spacing: 0px;
  color: #4a4a4a;
  opacity: 1;
}
.logoImage {
  margin-left: 16px;
}

.logoImage img {
  width: 235px;
  height: 63px;
  opacity: 1;
}

.btnDiv {
  margin-right: 16px;
}

.demoBtn {
  width: 126px;
  height: 36px;
  background: #0537ac 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px #00000029;
  border-radius: 9px;
  opacity: 1;

  font: normal normal 600 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
}
